body{
  background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
}

h1{
  text-align: center;
  text-decoration: underline;
  font-size: 23px;
  padding: 10px;
}

form{
  margin: 25px auto;
  max-width: 400px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
  font-size: 18px;
}

input{
  padding: 4px 8px;
}


#female{
  margin-left: 15px;
}

input[type="radio"], input[type="checkbox"]{
  accent-color: black;
}

.login input{
  border-radius: 12px;
  width: 75%;
  margin-top: 4px;
}


.registration input,select, .login input{
  border-radius: 12px;
  background-color: rgb(232, 240, 254);
}

.click{
  display: flex;
  justify-content: center;
}

button{
  background: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
}

button:hover{
  cursor: pointer;
  color: ( rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
  background-color: white;
  font-weight: bold;
}


#ageError, #confirmPassword, #passwordError, #termsError{
  color: rgb(233, 144, 12);
}

h2{
  text-decoration: underline;
}


.confirmation, .summary{
  position: absolute;
  background: white;
  max-width: 600px;
  margin: auto;
  top: 10px;
  left: 40%;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); 
}
