:root {
    --primary: #ff5722;
    --dark: #222831;
    --secondary: #2d4059;
    --light: #eeeeee;
}

body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

h2{
    color: var(--dark);
    font-weight: bold;
}

h4{
    color: var(--secondary);
}

.navbar {
    background-color: var(--dark);
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.navbar-brand {
    color: var(--light);
    font-weight: 600;
}

.nav-link {
    color: var(--light);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--primary);
}

.navbar.scrolled {
    padding: 0.5rem 0;
    background: var(--dark);
}

.fas{
    color: var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--light);
    color: var(--dark);
    border-color: var(--light);
    transition: transform 0.6s ease-in-out;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    background-color: var(--light);
    color: var(--dark);
    border-color: var(--light);
    transition: transform 0.3s ease-in-out;
}

.hero {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url('./images/pexels-thirdman-5327647.jpg') center/cover no-repeat;
    padding-top: 80px;
}

.card {
    border: none;
    transition: transform 0.3s ease;
    background-color: var(--light);
}

.card:hover {
    transform: translateY(-5px);
}

.card .text-primary {
    color: var(--primary);
}

.card p{
    color: var(--light);
}

.modal-content {
    background-color: var(--light);
}

.modal-header {
    background-color: var(--secondary);
    color: var(--light);
}

.form-label {
    color: var(--dark);
}

.form-control:focus, 
.form-select:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 34, 0.25);
}

#services {
    background-color: var(--secondary);
    color: var(--light);
}

#services .card {
    background-color: var(--dark);
}

#services .text-muted {
    color: var(--light);
    opacity: 0.8;
}



#testimonials .badge{
    background-color: var(--primary);
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: var(--secondary);
}

footer {
    background-color: var(--dark);
    color: var(--light);
}

footer a{
    text-decoration: none;
    color: var(--light);
}

footer ul li{
    margin-bottom: 0.5rem;
}

footer .links a:hover{
    text-decoration: underline;
}

footer .social-links i:hover{
    color: var(--secondary);
}